{"swagger":"2.0","info":{"description":"API que provee todos los servicios del api del taller martinez","version":"v0.0.1","title":"API Taller Martinez","termsOfService":"marcos.echague@gmail.com o jsamaniego1190@gmail.com","contact":{"name":"JMML Backend"},"license":{}},"host":"jmml.ml:8080","basePath":"/taller-martinez-api","tags":[{"name":"caja-api","description":"Caja API"},{"name":"ventas-api","description":"Ventas API"},{"name":"datos-generales-api","description":"Datos Generales API"},{"name":"proveedor-api","description":"Proveedor API"},{"name":"auth-api","description":"Auth API"},{"name":"operaciones-api","description":"Operaciones API"},{"name":"clientes-api","description":"Clientes API"},{"name":"productos-api","description":"Productos API"},{"name":"compras-api","description":"Compras API"},{"name":"admin-api","description":"Admin API"}],"paths":{"/v1/acciones":{"get":{"tags":["admin-api"],"summary":"Obtener listado de acciones","description":"Obtiene el listado de los acciones segun estado","operationId":"obtenerAccionesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"estado","in":"query","description":"Estado de acciones","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/caja":{"post":{"tags":["caja-api"],"summary":"Apertura de caja","description":"Registra una apertura de caja con un monto de apertura.","operationId":"registrarAperturaCajaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"monto-apertura","in":"query","description":"Monto de apertura de caja","required":true,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlujoCaja"}}}},"delete":{"tags":["caja-api"],"summary":"Cierre de caja","description":"Registra el cierra de una caja abierta","operationId":"cerrarCajaUsingDELETE","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlujoCaja"}}}}},"/v1/caja/estado":{"get":{"tags":["caja-api"],"summary":"Retorna el estado actual de la caja","operationId":"obtenerEstadoCajaUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string","enum":["ABIERTO","CERRADO"]}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/categorias-productos":{"get":{"tags":["productos-api"],"summary":"Obtener categorias","description":"Retorna las categorias","operationId":"obtenetCategoriasUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"estado","in":"query","description":"Estado de la categoria","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Producto"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/categorias-productos/{id-categoria}":{"get":{"tags":["productos-api"],"summary":"Obtener categoria por id","description":"Recibe un id de categoria y retorna la categoria al que corresponde el id","operationId":"obtenetCategoriaPorIdUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id-categoria","in":"path","description":"Id de la categoria","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Producto"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/ciudades":{"get":{"tags":["datos-generales-api"],"summary":"Obtiene un listado de ciudades","description":"Obtiene todas las ciudades registradas","operationId":"obtenerCiudadesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["datos-generales-api"],"summary":"Registra una nueva ciudad","description":"Registra una nueva ciudad","operationId":"registrarCiudadUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"descripcion","in":"query","description":"Descripcion de la ciudad.","required":true,"type":"string"},{"name":"id-pais","in":"query","description":"Identificador del pais.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}}}}},"/v1/ciudades/{id-ciudad}":{"get":{"tags":["datos-generales-api"],"summary":"Obtiene una ciudad","description":"Obtiene una ciudad por un id dado","operationId":"obtenerCiudadPorIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-ciudad","in":"path","description":"IdCiudad","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/clientes":{"get":{"tags":["clientes-api"],"summary":"Obtiene un listado de clientes","description":"Retorna todos los clientes registrados","operationId":"obtenerClientesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"estado","in":"query","description":"Estado de los clientes. Pueden ser ACTIVO/INACTIVO. Si no se especifica se trean todos los clientes","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["clientes-api"],"summary":"Registro de cliente","description":"Registra un nuevo cliente","operationId":"registrarClienteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"crearClienteDto","description":"crearClienteDto","required":true,"schema":{"$ref":"#/definitions/CrearClienteDTO"}}],"responses":{"201":{"schema":{"$ref":"#/definitions/Cliente"}}}},"put":{"tags":["clientes-api"],"summary":"Actualizacion de cliente","description":"Actualiza un cliente existente. Se toma el id del cliente para actualizar el mismo","operationId":"actualizarClienteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-cliente","in":"query","description":"Identificador del cliente","required":true,"type":"integer","format":"int32"},{"name":"nombre","in":"query","description":"Nombre/s del cliente","required":true,"type":"string"},{"name":"apellido","in":"query","description":"Apellido/s del cliente","required":true,"type":"string"},{"name":"direccion","in":"query","description":"Direccion del cliente","required":true,"type":"string"},{"name":"documento","in":"query","description":"Documento del cliente","required":true,"type":"string"},{"name":"ruc","in":"query","description":"Ruc del cliente","required":false,"type":"string"},{"name":"email","in":"query","description":"Email del cliente","required":false,"type":"string"},{"name":"telefono","in":"query","description":"Telefono del cliente","required":false,"type":"string"},{"name":"fecha-nacimiento","in":"query","description":"Fecha de nacimiento del cliente","required":false,"type":"string"},{"name":"info-adicional","in":"query","description":"Informacion adicional","required":false,"type":"string"},{"name":"estado","in":"query","description":"Estado del cliente ACTIVO/INACTIVO","required":true,"type":"string","enum":["ACTIVO","INACTIVO"]},{"name":"id-ciudad","in":"query","description":"Identificador de ciudad del cliente","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cliente"}}}}},"/v1/clientes/{identificacion}/numero/{numero}":{"get":{"tags":["clientes-api"],"summary":"Obtiene datos de un cliente por id Ã³ nro. de documento","description":"Obtiene los datos de un cliente por el identificador de cliente","operationId":"obtenerClientePorIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"identificacion","in":"path","description":"Tipo de identificador","required":false,"type":"string","enum":["ID","DOCUMENTO"]},{"name":"numero","in":"path","description":"Numero de documento Ã³ id del cliente","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cliente"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/compras":{"get":{"tags":["compras-api"],"summary":"Obtiene un listado de compras","description":"Retorna las compras que se encuentran en el rango de fechas","operationId":"obtenerComprasPorFechaUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fecha-desde","in":"query","description":"Fecha desde. Si es nulo se toma desde el inicio de los tiempos. Debe estar en formato dd/MM/yyyy","required":false,"type":"string"},{"name":"fecha-hasta","in":"query","description":"Fecha hasta. Si es nulo se toma hasta la Ãºltima compra. Debe estar en formato dd/MM/yyyy","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["compras-api"],"summary":"Registra una nueva compra","description":"Registra una nueva compra","operationId":"registrarCompraUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"compra","description":"Objeto compra","required":true,"schema":{"$ref":"#/definitions/RegistroCompraDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Compra"}}}}},"/v1/compras/{id-compra}":{"delete":{"tags":["compras-api"],"summary":"Anula una compra","description":"Anula una compra y lo vuelva a estado inactivo","operationId":"anularCompraUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-compra","in":"path","description":"Identificado de la compra","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/v1/operaciones":{"get":{"tags":["operaciones-api"],"summary":"Obtiene operaciones","description":"Obtiene los todos los movimientos (compra/venta) en un periodo de tiempo dato","operationId":"obtenerMovimientosUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fecha-desde","in":"query","description":"Fecha desde. Si es nulo se toma desde el inicio de los tiempos. Debe estar en formato dd/MM/yyyy","required":false,"type":"string"},{"name":"fecha-hasta","in":"query","description":"Fecha hasta. Si es nulo se toma la fecha actual. Debe estar en formato dd/MM/yyyy","required":false,"type":"string"},{"name":"tipo-movimiento","in":"query","description":"Tipo de operacion. Puede ser COMPRA Ã³ VENTA. si no se especifica el parametro, se toman tanto las compras como las ventas. Recibimos este paramero en un enum","required":false,"type":"string","enum":["COMPRA","VENTA"]},{"name":"estado","in":"query","description":"Estado de la operacion en codigo. Los valores posible son 1=compra, 2=venta. Si recibe otro numero se lanzara una excepsion. Si no recibe este parametro se toman tanto las activos como los inactivos.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/productos":{"get":{"tags":["productos-api"],"summary":"Obtener el listado de productos","description":"Realiza una busqueda de los productos segÃºn una palabra clave. Si no se ingresa una palabra clave, trae todos los productos.","operationId":"buscarProductosUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"palabra-clave","in":"query","description":"Palabra clave para bÃºsqueda de productos. Si no se ingresa una palabra clave, trae todos los productos.","required":false,"type":"string"},{"name":"estado","in":"query","description":"Estado del producto. Puede ser ACTIVO/INACTIVO. Si no se especifica se retorna activos como inactivos.","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["productos-api"],"summary":"Crear un nuevo producto","description":"Registra un producto","operationId":"registrarProductoUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"crearProductoDto","description":"crearProductoDto","required":true,"schema":{"$ref":"#/definitions/CrearProductoDTO"}}],"responses":{"201":{"schema":{"$ref":"#/definitions/Producto"}}}}},"/v1/productos/{id-producto}":{"get":{"tags":["productos-api"],"summary":"Obtener productos por id","description":"Recibe un id de producto y retorna el producto al que corresponde el id","operationId":"obtenetProductoPorIdUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id-producto","in":"path","description":"Id del producto","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Producto"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"put":{"tags":["productos-api"],"summary":"Actualizacion total del producto","description":"Actualiza datos de un producto","operationId":"actualizarProductoTotalUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id-producto","in":"path","description":"Identificado del producto","required":true,"type":"integer","format":"int32"},{"in":"body","name":"crearProductoDto","description":"crearProductoDto","required":true,"schema":{"$ref":"#/definitions/CrearProductoDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Producto"}}}},"patch":{"tags":["productos-api"],"summary":"Actualizacion parcial del producto","description":"Actualizacion parcial de datos del producto,si el valor recibido es nulo, los valores no seran modificados","operationId":"actualizarProductoParcialUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id-producto","in":"path","description":"Identificado del producto","required":true,"type":"integer","format":"int32"},{"in":"body","name":"actualizarProductoDto","description":"actualizarProductoDto","required":true,"schema":{"$ref":"#/definitions/ActualizacionParcialProductoDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Producto"}}}}},"/v1/proveedores":{"get":{"tags":["proveedor-api"],"summary":"Obtiene proveedores","description":"Retorna todos los proveedores registrados","operationId":"obtenerProveedoresUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["proveedor-api"],"summary":"Crea un nuevo proveedor","description":"Registra un nuevo proveedor","operationId":"registrarProveedorUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"descripcion","in":"query","description":"Nombre/razÃ³n social del proveedor","required":true,"type":"string"},{"name":"ruc","in":"query","description":"Ruc del proveedor","required":true,"type":"string"},{"name":"email","in":"query","description":"Email del proveedor","required":false,"type":"string"},{"name":"telefono","in":"query","description":"Telefono del proveedor","required":false,"type":"string"},{"name":"direccion","in":"query","description":"Direccion del proveedor","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Proveedor"}}}},"put":{"tags":["proveedor-api"],"summary":"Actualizar un proveedor","description":"Recibe un id de proveedor y retorna el proveedor correspondiente.","operationId":"actualizarProveedorUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"descripcion","in":"query","description":"Nombre/razÃ³n social del proveedor","required":true,"type":"string"},{"name":"ruc","in":"query","description":"Ruc del proveedor","required":true,"type":"string"},{"name":"email","in":"query","description":"Email del proveedor","required":false,"type":"string"},{"name":"telefono","in":"query","description":"Telefono del proveedor","required":false,"type":"string"},{"name":"direccion","in":"query","description":"Direccion del proveedor","required":false,"type":"string"},{"name":"estado","in":"query","description":"Estado del proveedor del proveedor. Puede ser ACTIVO/INACTIVO","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]},{"name":"id","in":"query","description":"Identificador de proveedor","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Proveedor"}}}}},"/v1/proveedores/{id-proveedor}":{"get":{"tags":["proveedor-api"],"summary":"Obtiene un proveedor","description":"Recibe un id de proveedor y retorna el proveedor correspondiente.","operationId":"obtenerProveedorPorIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-proveedor","in":"path","description":"Identificador del proveedor","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Proveedor"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}}},"/v1/roles":{"get":{"tags":["admin-api"],"summary":"Obtener listado de roles","description":"Obtiene el listado de los roles segun estado","operationId":"obtenerRolesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"estado","in":"query","description":"Estado del rol","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["admin-api"],"summary":"Crear un nuevo rol","description":"Creacion de un nuevo rol","operationId":"crearRolUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"rolCreacionDTO","description":"Body para creacion del rol","required":false,"schema":{"$ref":"#/definitions/RolCreacionDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Rol"}}}}},"/v1/roles/{id-rol}":{"put":{"tags":["admin-api"],"summary":"Actualizar un rol","description":"Actualizacion de los datos de un rol","operationId":"actualizarRolUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-rol","in":"path","description":"Id de rol a actualizar","required":false,"type":"integer","format":"int32"},{"in":"body","name":"rolActualizacionDTO","description":"Body para actualizacion de datos del rol","required":false,"schema":{"$ref":"#/definitions/RolActualizacionDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Rol"}}}}},"/v1/roles/{id-rol}/acciones":{"patch":{"tags":["admin-api"],"summary":"Relacionar acciones a un rol","description":"Relaciona acciones a un rol","operationId":"relacionarRolAccionUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-rol","in":"path","description":"Id del rol","required":false,"type":"integer","format":"int32"},{"in":"body","name":"rolAccionRelacionDTO","description":"Body para relacion de acciones a un rol","required":false,"schema":{"$ref":"#/definitions/RolAccionRelaccionDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Rol"}}}}},"/v1/sesion":{"post":{"tags":["auth-api"],"summary":"Creacion de sesion","description":"Login de usuario, devuelve una sesion","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"crearSesionDTO","description":"crearSesionDTO","required":true,"schema":{"$ref":"#/definitions/CrearSesionDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Sesion"}}}},"delete":{"tags":["auth-api"],"summary":"Invalidacion de sesion","operationId":"invalidateAccessTokenUsingDELETE","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Sesion"}}}}},"/v1/usuarios":{"get":{"tags":["admin-api"],"summary":"Obtener un listado de usuarios ","description":"Obtiene el listado de usuarios segun estado y/o palabra clave","operationId":"obtenerUsuariosUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"palabra-clave","in":"query","description":"Palabra clave para obtener usuarios","required":false,"type":"string"},{"name":"estado","in":"query","description":"Estado del usuario","required":false,"type":"string","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["admin-api"],"summary":"Crear un usuario","description":"Creacion de usuarios","operationId":"crearUsuarioUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"usuarioCreacionDTO","description":"Body para creacion de usuario","required":false,"schema":{"$ref":"#/definitions/UsuarioCreacionDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/v1/usuarios/{id-usuario}":{"get":{"tags":["admin-api"],"summary":"Obtener  usuario por id","description":"Obtiene datos del usuario segun el identificadord del usuario","operationId":"obtenerUsuarioUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-usuario","in":"path","description":"Estado del usuario","required":false,"type":"integer","format":"int32","enum":["ACTIVO","INACTIVO"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Usuario"}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"put":{"tags":["admin-api"],"summary":"Actualizar un usuario","description":"Actualizacion de usuario","operationId":"actualizarUsuarioUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-usuario","in":"path","description":"Id del usuario","required":false,"type":"integer","format":"int32"},{"in":"body","name":"usuarioActualizacionDTO","description":"Body para actualzacion de usuario","required":false,"schema":{"$ref":"#/definitions/UsuarioActualizacionDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Usuario"}}}}},"/v1/usuarios/{id-usuario}/password":{"patch":{"tags":["admin-api"],"summary":"Cambiar password a usuario","description":"Cambia el password del usuario","operationId":"cambiarPasswordUsuarioUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-usuario","in":"path","description":"Id del usuario","required":false,"type":"integer","format":"int32"},{"in":"body","name":"cambioPasswordToUsarioDTO","description":"Body para cambio del password al usuario","required":false,"schema":{"$ref":"#/definitions/CambioPasswordToUsuarioDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Usuario"}}}}},"/v1/ventas":{"get":{"tags":["ventas-api"],"summary":"Obtiene lastado de ventas","description":"Obtiene las ventas del periodo comprendido en el rango de fechas.","operationId":"obtenerVentasPorFechaUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fecha-desde","in":"query","description":"Fecha desde. Si es nulo se toma desde el inicio de los tiempos. Debe estar en formato dd/MM/yyyy","required":false,"type":"string"},{"name":"fecha-hasta","in":"query","description":"Fecha hasta. Si es nulo se toma hasta la Ãºltima venta. Debe estar en formato dd/MM/yyyy","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Venta"}}},"500":{"description":"500 message","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["ventas-api"],"summary":"Registra una venta","description":"Registra una nueva venta","operationId":"registrarVentaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"venta","description":"Objeto venta","required":true,"schema":{"$ref":"#/definitions/RegistroVentaDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Venta"}}}}},"/v1/ventas/{id-venta}":{"delete":{"tags":["ventas-api"],"summary":"Anula una venta","description":"Anula una venta y lo vuelve a estado 'Inactivo'","operationId":"anularVentaUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-venta","in":"path","description":"Identificador de venta","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}}},"definitions":{"Sesion":{"properties":{"accessToken":{"type":"string"},"created":{"type":"string","format":"date-time"},"expiration":{"type":"string","format":"date-time"},"forceChangePass":{"type":"boolean"},"infoAdicional":{"type":"object"},"invalidado":{"type":"string","format":"date-time"},"permisos":{"type":"array","items":{"type":"string"}},"receivedTimeStamp":{"type":"string","format":"date-time"},"sessionId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["CREADO","VALIDO","EXPIRADO","LIMITADO_CAM_PASS","INACTIVO","INVALIDADO"]},"type":{"type":"string"},"usuario":{"$ref":"#/definitions/Usuario"},"usuarioId":{"type":"integer","format":"int32"},"usuarioTipo":{"type":"string"},"usuarioValue":{"type":"string"}}},"UsuarioActualizacionDTO":{"required":["apellido","documento","login","nombre","tipoDocumento"],"properties":{"apellido":{"type":"string","description":"Apellido"},"celular":{"type":"string"},"documento":{"type":"string","description":"Numero de documento"},"email":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]},"fechaNacimiento":{"type":"string","format":"date-time"},"idCliente":{"type":"integer","format":"int32","description":"id de cliente, si se encuentra registrado como cliente."},"idRol":{"type":"integer","format":"int32","description":"id de rol del usuario"},"infoAdicional":{"type":"object"},"login":{"type":"string","description":"Login de usuario que utilizara para iniciar sesión, el campo es obligatorio"},"nombre":{"type":"string","description":"Nombre"},"tipoDocumento":{"type":"string","description":"Tipo de documento","enum":["CI","RUC"]}}},"Usuario":{"properties":{"apellido":{"type":"string"},"celular":{"type":"string"},"cliente":{"$ref":"#/definitions/Cliente"},"documento":{"type":"string"},"email":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","BLOQUEADO","INACTIVO"]},"fechaCreacion":{"type":"string","format":"date-time"},"idUsuario":{"type":"integer","format":"int32"},"infoAdicional":{"type":"object"},"intentosFallidos":{"type":"integer","format":"int32"},"login":{"type":"string"},"nombre":{"type":"string"},"rol":{"$ref":"#/definitions/Rol"},"tipoDocumento":{"type":"string","enum":["CI","RUC"]},"ultimoAcceso":{"type":"string","format":"date-time"}}},"ActualizacionParcialProductoDTO":{"properties":{"codigo":{"type":"string"},"codigoCategoria":{"type":"integer","format":"int32"},"descripcion":{"type":"string"},"disponibleParaVenta":{"type":"boolean"},"precio":{"type":"number","format":"double"},"tipo":{"type":"string","enum":["KG","UNIDAD"]}}},"FlujoCaja":{"properties":{"estado":{"type":"string","enum":["ABIERTO","CERRADO"]},"fechaApertura":{"type":"string","format":"date-time"},"fechaCierre":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"montoApertura":{"type":"number","format":"double"},"montoCierre":{"type":"number","format":"double"}}},"DetalleCompra":{"properties":{"cantidad":{"type":"integer","format":"int32"},"idDetalleCompra":{"type":"integer","format":"int32"},"montoItem":{"type":"number","format":"double"},"producto":{"$ref":"#/definitions/Producto"}}},"RolActualizacionDTO":{"required":["codigo","estado"],"properties":{"codigo":{"type":"string","description":"Codigo del rol"},"descripcion":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]}}},"Producto":{"properties":{"categoria":{"$ref":"#/definitions/Categoria"},"codigo":{"type":"string"},"descripcion":{"type":"string"},"diponibleVenta":{"type":"boolean"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]},"id":{"type":"integer","format":"int32"},"precio":{"type":"number","format":"double"},"tipo":{"type":"string","enum":["KG","UNIDAD"]}}},"Venta":{"properties":{"cliente":{"$ref":"#/definitions/Cliente"},"detalleVenta":{"type":"array","items":{"$ref":"#/definitions/DetalleVenta"}},"estado":{"type":"string","enum":["ACTIVO","BLOQUEADO","INACTIVO","ANULADO","CONCRETADO"]},"fechaVenta":{"type":"string","format":"date-time"},"idVenta":{"type":"integer","format":"int32"},"monto":{"type":"number","format":"double"},"totalDeuda":{"type":"number","format":"double"},"totalPagado":{"type":"number","format":"double"},"usuario":{"$ref":"#/definitions/Usuario"}}},"CrearProductoDTO":{"properties":{"codigo":{"type":"string"},"codigoCategoria":{"type":"integer","format":"int32"},"descripcion":{"type":"string"},"disponibleParaVenta":{"type":"boolean"},"precio":{"type":"number","format":"double"},"tipo":{"type":"string","enum":["KG","UNIDAD"]}}},"RegistroCompraDTO":{"properties":{"detalleCompra":{"type":"array","items":{"$ref":"#/definitions/DetalleCompra"}},"fechaCompra":{"type":"string","format":"date-time"},"monto":{"type":"number","format":"double"},"nroFactura":{"type":"string"},"proveedor":{"$ref":"#/definitions/Proveedor"}}},"Accion":{"properties":{"codigo":{"type":"string"},"descripcion":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]},"id":{"type":"integer","format":"int32"}}},"CrearClienteDTO":{"properties":{"apellidos":{"type":"string"},"direccion":{"type":"string"},"documento":{"type":"string"},"email":{"type":"string"},"fechaNacimiento":{"type":"string"},"idCiudad":{"type":"integer","format":"int32"},"infoAdicional":{"type":"string"},"nombres":{"type":"string"},"ruc":{"type":"string"},"telefono":{"type":"string"}}},"Categoria":{"properties":{"codigo":{"type":"integer","format":"int32"},"descripcion":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]}}},"CambioPasswordToUsuarioDTO":{"properties":{"nuevoPassword":{"type":"string"},"nuevoPasswordRepeticion":{"type":"string"}}},"Cliente":{"properties":{"apellido":{"type":"string"},"ciudad":{"$ref":"#/definitions/Ciudad"},"codigo":{"type":"integer","format":"int32"},"direccion":{"type":"string"},"documento":{"type":"string"},"email":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]},"fechaNacimiento":{"type":"string","format":"date-time"},"fechaRegistro":{"type":"string","format":"date-time"},"infoAdicional":{"type":"string"},"nombre":{"type":"string"},"ruc":{"type":"string"},"telefono":{"type":"string"}}},"RolAccionRelaccionDTO":{"properties":{"acciones":{"type":"array","items":{"$ref":"#/definitions/Accion"}}}},"Proveedor":{"properties":{"descripcion":{"type":"string"},"direccion":{"type":"string"},"email":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]},"fechaAlta":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"ruc":{"type":"string"},"telefono":{"type":"string"}}},"Ciudad":{"properties":{"codigo":{"type":"integer","format":"int32"},"descripcion":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]}}},"Rol":{"properties":{"acciones":{"type":"array","items":{"$ref":"#/definitions/Accion"}},"codigo":{"type":"string"},"descripcion":{"type":"string"},"estado":{"type":"string","enum":["ACTIVO","INACTIVO"]},"id":{"type":"integer","format":"int32"}}},"DetalleVenta":{"properties":{"cantidad":{"type":"integer","format":"int32"},"idDetalleVenta":{"type":"integer","format":"int32"},"montoItem":{"type":"number","format":"double"},"producto":{"$ref":"#/definitions/Producto"}}},"RolCreacionDTO":{"required":["codigo"],"properties":{"acciones":{"type":"array","items":{"$ref":"#/definitions/Accion"}},"codigo":{"type":"string","description":"Codigo del rol, el campo es obligatorio"},"descripcion":{"type":"string"}}},"CrearSesionDTO":{"properties":{"clientVersion":{"type":"string"},"clienteType":{"type":"string"},"password":{"type":"string"},"ssign":{"type":"string"},"tstamp":{"type":"string"},"user":{"type":"string"}}},"RegistroVentaDTO":{"properties":{"cliente":{"$ref":"#/definitions/Cliente"},"detalleVenta":{"type":"array","items":{"$ref":"#/definitions/DetalleVenta"}},"monto":{"type":"number","format":"double"},"totalPagado":{"type":"number","format":"double"}}},"Compra":{"properties":{"detalleCompra":{"type":"array","items":{"$ref":"#/definitions/DetalleCompra"}},"estado":{"type":"string","enum":["ACTIVO","BLOQUEADO","INACTIVO","ANULADO","CONCRETADO"]},"fechaCompra":{"type":"string","format":"date-time"},"idCompra":{"type":"integer","format":"int32"},"monto":{"type":"number","format":"double"},"nroFactura":{"type":"string"},"proveedor":{"$ref":"#/definitions/Proveedor"},"usuario":{"$ref":"#/definitions/Usuario"}}},"UsuarioCreacionDTO":{"required":["apellido","documento","login","nombre","password","tipoDocumento"],"properties":{"apellido":{"type":"string","description":"Apellido"},"celular":{"type":"string"},"documento":{"type":"string","description":"Numero de documento"},"email":{"type":"string"},"fechaNacimiento":{"type":"string","format":"date-time"},"idCliente":{"type":"integer","format":"int32","description":"id de cliente, si se encuentra registrado como cliente."},"idRol":{"type":"integer","format":"int32","description":"id del rol del usuario."},"login":{"type":"string","description":"Login de usuario que utilizara para iniciar sesión, el campo es obligatorio"},"nombre":{"type":"string","description":"Nombre"},"password":{"type":"string"},"tipoDocumento":{"type":"string","description":"Tipo de documento","enum":["CI","RUC"]}}},"Operacion":{"properties":{"compra":{"$ref":"#/definitions/Compra"},"estado":{"type":"string"},"fechaMovimeinto":{"type":"string","format":"date-time"},"idMovimiento":{"type":"integer","format":"int32"},"monto":{"type":"number","format":"double"},"tipoMovimiento":{"type":"string","enum":["COMPRA","VENTA"]},"venta":{"$ref":"#/definitions/Venta"}}}}}